# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Ignorer les sous-répertoires 'target' et 'build' sauf dans 'src/main' et 'src/test'
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Eclipse specific
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA specific
.idea/
*.iws
*.iml
*.ipr

# NetBeans specific
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code specific
.vscode/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# Exclude build directories
build/

# Include necessary wrappers
!.mvn/wrapper/maven-wrapper.jar
